{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="login_form_bg">
        <div class="login_form_wrap container">

            <div class="container login_form">
                <div class="form_input">
                    <form action="" method="post">
                            <input style="width:100%" name="password1" type="password"
                                   placeholder="新密码"
                                   class="none-input"/>
                            <input style="width:100%" name="password2" type="password"
                                   placeholder="请确认密码"
                                   class="none-input"/>
                            <input style="width:100%;margin-top:15px;" type="submit"
                                   class="btn btn-big btn-block" value="找回密码">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
