{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
    <div class="row flex-vertical-center">
        <div style="margin-top:20px;" class="col-md-6">
            <span class="sub-title">我想借阅的书籍共{{ wishes | length }} 本</span>
            <hr>
        </div>
    </div>
    {% for wish in wishes %}
        <div class="row">
            <a href="{{ url_for('views.book_detail', isbn=wish.books.isbn) }}">
                <div style="margin-bottom:30px;" class="col-md-9 col-padding">
                    <div class="col-md-2">
                        <img class="book-img-small shadow" src="{{ wish.books.image }}">
                    </div>
                    <div style="margin-top:6px;" class="col-md-6 flex-vertical">
                            <span id="title"
                                  class="book-middle-title">{{ wish.books.title }}</span>
                        <div style="margin-top:6px;"
                             class="flex-vertical description-font">
                            <span id="author">{{ wish.books.author }}</span>
                            <span id="publisher">{{ wish.books.publisher }}</span>
                        </div>
                        <a class="btn btn-warning" style="width: 50px;height: 30px; margin-top:30px;"
                           href="{{ url_for('views.delete_wish', isbn=wish.books.isbn) }}"
                           onclick="return confirm('请确认删除')">
                            删除
                        </a>
                    </div>
                    <div class="col-md-3 flex-vertical">
                        {% if wish.want %}
                            <a href="{{ url_for('views.book_detail', isbn=wish.books.isbn) }}">
                                <span class="label label-info" style="margin-left: -100px;font-size: 15px;">{{ wish.want }}人出借</span>
                            </a>
                        {% else %}
                           <span  class="label label-info" style="margin-left: -155px;font-size: 15px;width: 120px;">暂无人出借</span>

                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename="js/util.js") }}"></script>
{% endblock %}
